@import url(./styles.css);
/* About starts  */
#about {
    padding: 20px 0 50px 0;
    background: rgba(76, 10, 6, 0.226);
}

#about p {
    color: var(--text-color);
}

.heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
}

.heading-about {
    padding-bottom: 18px;
}

.heading h2 {
    color: var(--main-color);
}


.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about-text {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}
figure .img-about {
    width: fit-content;
    height: auto;
    border-radius: 50%;
    padding: 0 40px;
}

figure figcaption {
    color: var(--text-color);
    margin-top: 10px;
}

.about-text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.about-text p {
    color: var(--white);
}
/* About ends  */

@media (max-width: 990px) {
    /* About */
    #about {
        padding-bottom: 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    figcaption {
        padding-bottom: 10px;
    }
    figure .img-about {
        width: fit-content;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 850px) {

}