@import url(./normalize.css);
@import url(./about.css);
@import url(./blockquote.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

:root {
    --text-color: #131117;
    --main-color: #4c0906;
    --white: #fff;
    --gray-color: #b1ada7;
    --other-color: #e6c799;
}

h1, h2, h3, p, a {
    color: var(--text-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
}

h3 {
    font-size: 28px;
}

p {
    font-weight: 400;
}

/* Navigation starts */
nav {
    background: var(--main-color);
    height: 60px;
    width: 100%;
    padding-top: 8px;
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: var(--other-color);
    margin-left:30px;
  
    cursor: pointer;
    text-decoration: none;
}
nav ul {
    float: right;
    margin-right: 60px;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin:0 5px;
}

nav ul li a {
    cursor: pointer;
    display: block;
    color: var(--white);
    text-transform: capitalize;
    font-size: 18px;
}

nav ul li a:hover{
    color: var(--other-color);
    font-weight: bolder;
    border-bottom: 1.5px solid var(--main-color);
}

.btn-check {
    font-size: 30px;
    color:  var(--white);
    line-height: 40px;
    padding-bottom: 10px;
    display: none;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

#check {
    display: none;
}
/* Navigation ends */
/* Banner starts  */
#banner {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/bcg.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    flex-wrap: wrap;
    /* transform: translateY(10vh); */
    padding-top: 200px;
}

.banner-content h2, h1 {
    color: var(--white);
}

.banner-content h2 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}

.banner-content h1 {
    font-size: 48px;
}

.btn-banner {
    background: var(--main-color);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--other-color);
    margin-top: 4px;

}
/* Banner ends  */

/* Blog starts */
#blog {
    padding: 80px 100px 50px 100px;
    display: flex;
    align-items: stretch;
    font-size: 18px;
}

.left-column {
    width: 80%;
}

.article {
    padding-bottom: 30px;
}
.left-column h2 {
    padding-bottom: 15px;
}

.left-column img {
    max-width: 65%;
    padding-bottom: 30px;
}

.time {
    padding-bottom: 60px;
}

.blog-content {
    width: 65%;
}

.left-column hr {
    width: 65%;
    margin-bottom: 20px;
}

.pb {
    padding-bottom: 20px;
}
.right-column {
    width: 20%;
}


.right-column h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.archives-column {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 30px;
    margin-left: 15px;
}

.archives-column a {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.link-centered {
    margin-left: 30px;
}

.fab {
    color: var(--main-color);
}
/* Blog ends  */


/* Recipe starts */
#recipe {
    background: rgba(76, 10, 6, 0.226);

}

.heading-recipe {
    padding: 20px 0 30px 0;
    
}

.heading-recipe h2 {
    color: var(--main-color);
}

.recipe-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-content img {
    display: block;
    width: 50%;
    margin: auto;
}

.recipe-content p {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.padding-recipe {
    padding: 30px 0;
}
/* Recipe ends  */

/* Basic starts */
#basic {
    background: rgba(76, 10, 6, 0.226);
    padding: 30px;
}

#basic h2 {
    color: var(--main-color);
    padding-bottom: 10px;
}

.basic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 15px;
}

.basic-text1 {
    padding: 20px;
}

.text-basic {
    line-height: 2;
}

.heading-basic1 {
    text-align: center;
    padding-bottom: 15px;
}

.basic-button {
    display: flex;
    justify-content: center;
}

.btn-basic {
    background: var(--main-color);
    padding: 14px 16px;
    border-radius: 15px;
    color: var(--other-color);
}

.btn-basic:hover {
    font-weight: bold;
}

/* Basic ends  */

/* Footer starts */
footer {
    background: var(--main-color);
}

footer p {
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}
/* Footer ends  */


@media (max-width: 990px) {
    label.logo {
        font-size: 30px;
        padding: 20px 0 0p 30px;
    }

    nav li a {
        font-size: 16px;
    }

    nav li a:hover {
        border: none;
        font-weight: normal;
    }

    /* Banner */
    #banner {
        height: cal(100vh - 400px);
    }
    .banner-content {
        transform: translateX(0);
        padding-top: 50px 0;
    }

    .banner-content h2 {
        font-size: 32px;
    }

    .banner-content h1 {
        font-size: 36px;
    }

    .btn-banner {
        padding: 11px 23px;
        margin-top: 12px;
    }


    /* Blog  */
    #blog {
        padding: 40px 40px 18px 55px;
    }
    #blog img {
        width: fit-content;
    }

    .blog-content {
        font-size: 16px;
        width: 100%;
    }

    .archives-column a {
        font-weight: normal;
        cursor: pointer;
        font-size: 16px;
    }


    /* Recipe */
    .heading-recipe {
        padding: 10px 0 15px 0;
    }

    .recipe-content p {
        font-size: 16px;
        padding-top: 6px;
    }

    /* Basic */
    .basic-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #basic h2 {
        padding-bottom: 0;
    }

    .basic-text1 {
        padding: 10px 20px 0 20px;
    }

    /* Footer  */
    footer p {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    body, html {
        overflow-x: hidden;
    }
    .btn-check {
        display: block; 

    }

    nav ul {
        position: relative;
        z-index: 9;
        width: 100%;
        height: calc(100vh - 300px);
        top: 0;
        left: -100%;
        text-align: center;
        background: var(--main-color);
        opacity: 1;
        transform: all .5s;
        display: flex;
        flex-direction: column;
        float: none;
    }

    nav ul li {
        margin-right: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        cursor: pointer;
        font-size: 20px;
        padding: 20px 0;
        display: block;
    }

    nav ul li a:hover {
        color:#e6c799;
    }

    #check:checked ~ ul {
        left: 0;
    }

    
    /* Banner */
    #banner {
        height: calc(100vh - 200px);
    }

    .banner-content {
        padding-top: 100px;
    }

    /* Recipe */
    .recipe-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    /* Navigation */
    nav ul {
        opacity: 1;
        height: cal(100vh - 100px);
        width: 100%;
        padding-top: 30px;
    }

    nav ul li a {
        padding-bottom: 30px;
    }

    /* Banner */
    #banner {
        height: calc(100vh - 424px);
    }

    .banner-content {
        padding: 10px 0;
    }

    .banner-content h2 {
        font-size: 28px;
    }

    .banner-content h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    /* Blog */
    #blog {
        padding: 15px 15px 5px 32px;
        display: flex;
        flex-flow: column wrap;
    }

    .left-column h2 {
        font-size: 22px;
    }

    .time {
        font-size: 18px;
        padding-bottom: 18px;
    }

    .left-column img {
        width: 85%;
        margin: auto;
        display: block;
        padding-bottom: 15px;
    }

    .blog-content {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

    .link-centered {
        margin-left: 10px;
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
    }

    .fab{
        padding-right: 20px;
    }

    /* About */
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .img-about {
        width: 70%;
        margin: auto;
        padding: 0;
    }

    .about-text {
        padding: 10px 20px 0px 15px;
    }

    /* Recipe */
    .recipe-content {
        flex-direction: column;
    }

    .recipe-content img {
        display: block;
        width: 81%;
        margin: auto;
        padding-bottom: 5px;
    }

    .padding-recipe {
        padding: 8px 0;
    }


    @media (max-width: 480px) {
        .logo {
            padding-left: 80px;
            font-size: 25px;
        }
        #banner {
            height: calc(100vh - 350px);
        }

        .banner-content {
            padding-top: 30px;
        }

        footer p {
            padding: 10px 20px;
            font-size: 12px;
        }
    }
}

